body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  background-color: #f0f0f0;
  max-width: 100%;
  min-height: 500px;
  overflow-x: hidden;
}

.game {
  width: 90vw;
  height: 200px;
  border: 2px solid black;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  background-color: white;
}


#dino {
  width: 70px;
  height: 50px;
  background-image: url('maxwell.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 0;
  left: 50px;
}


#cactus {
  width: 20px;
  height: 50px;
  background-color: red;
  position: absolute;
  bottom: 0;
  left: 600px;
}

#restartBtn {
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 20px;
  background-color: #228be6;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#restartBtn:hover {
  background-color: #1864ab;
}

#score {
  margin-top: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

#jumpBtn {
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 20px;
  background-color: #228be6;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#jumpBtn:active {
  background-color: #1864ab;
}

.info {
  margin-top: 20px;
  font-weight: 800;
}